/** @class Global_CSS */
//

$font-family: "PT Sans", helvetica, arial, verdana, sans-serif !default;

$base-color: #EEF2F5 !default;
$base-light-color: #fff !default;
$dark-color: #020C22 !default;

$neutral-color: $base-color !default;
$neutral-light-color: $neutral-color !default;

