/*
Ситли для редактора текста.
*/

/* разрешаем выделение в окнах редактора */
.editor-viewport {
	-webkit-user-select: auto;
	/*-ms-user-select: all;
	user-select: all;*/
}

.editor-viewport .el-a {
	cursor: text;
}

.main-editor-viewport {
	font-family: 'Arial Unicode MS';
	font-size: 150%;
	line-height: 150%;
	white-space: pre-wrap;
	word-break: break-all;
	background-color: #fff;
}

/* корневой элемент */
.main-editor-viewport .el-body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #F4EEE3; /* Основной фоновый цвет тела книги в редакторе */
}

/* абзац */
.main-editor-viewport .el-p {
	position: relative;
	margin-top: 0;
	margin-bottom: 0.2em;
	text-align: justify;
	text-indent: 1.5em;
	border: none;
}
.main-editor-viewport .el-p:focus {
	outline: none;
}

.main-editor-viewport .el-div,
.main-editor-viewport .el-title,
.main-editor-viewport .el-section,
.main-editor-viewport .el-blockquote,
.main-editor-viewport .el-pre,
.main-editor-viewport .el-annotation,
.main-editor-viewport .el-epigraph,
.main-editor-viewport .el-poem,
.main-editor-viewport .el-stanza,
.main-editor-viewport .el-notes,
.main-editor-viewport .el-notebody {
	position: relative;
	display: block;
	padding: 0 0 0 0.2em;
	margin: 0.5em 0 0.5em 0;
	border-left: solid 1px;
	clear: both;
}

/* неопределенный элемент */
.main-editor-viewport .el-undefined {
	border: 1px dashed red;
}

/* секция */
.main-editor-viewport .el-section {
	text-align: center;
	border-color: #009600;
}

/* дочерние элементы секции */
.main-editor-viewport .el-section > * {
	padding: 0 1.2em;
}
.main-editor-viewport .el-section > .el-section  {
	padding: 0 0.2em;
}

/* блок */
.main-editor-viewport .el-div {
	display: inline-block;
	padding: 1em;
}
.main-editor-viewport .el-div[border] {
	border: 1px solid black;
	margin: 1em;
	padding: 0.5ex 0;
}
.main-editor-viewport .el-div[float] {
	margin: 0.5ex;
	z-index: 1;
}
.main-editor-viewport .el-div .el-p {
	text-indent: 0;
}
.main-editor-viewport .el-div[border] .el-p {
	padding: 0 0.5ex;
}

.main-editor-viewport .el-div-align-center p {
	text-align: center;
}
.main-editor-viewport .el-div-align-right p {
	text-align: right;
}
.main-editor-viewport .el-div-align-left p {
	text-align: left;
}
.main-editor-viewport .el-div-align-justify p {
	text-align: justify;
}

.main-editor-viewport .el-blockquote {
	color: #570110;
}

/* ссылка на примечание */
.main-editor-viewport .el-note {
	vertical-align: super;
	font-size: 0.8em;
	color: #aaa;
}

.main-editor-viewport .el-code {
	display: inline;
	margin: 0;
	font-family: monospace;
	font-style: normal;
	color: #4d4d4d;
	background: rgb(238,238,238);
}

.main-editor-viewport .el-pre {
	font-family: monospace;
	background: rgb(238,238,238);
}

.main-editor-viewport .el-subscription {
	display: block;
	padding: 0.1em 1.2em;
	color: rgb(192,64,64);
	background-color: #F7FFBF; /*## Фоновый цвет*/
}

.main-editor-viewport .el-subtitle {
	position: relative;
	display: block;
	margin: 0.5em 0;
	text-align: center;
	font-weight: bold;
	text-indent: 0;
	background-color: #B2B2B2; /*## Фоновый цвет подзаголовка*/
}

.main-editor-viewport .el-poem {
	border-color: black;
	background-color: #A0CFFF; /*## Фоновый цвет стиха*/
}
.main-editor-viewport .el-stanza {
	border-color: black;
	background-color: #DBFFE8; /*## Фоновый цвет строфы*/
}
.main-editor-viewport .el-stanza p {
	text-align: left;
	text-indent: 3em;
	margin-bottom: 0;
}

.main-editor-viewport .el-em {
	font-style: italic;
	color: blue;
}

.main-editor-viewport .el-spacing {
	letter-spacing: 0.2em;
}

.main-editor-viewport .el-strikethrough {
	text-decoration: line-through;
}

.main-editor-viewport .el-underline {
	text-decoration: underline;
}

.main-editor-viewport .el-epigraph {
	font-size: 80%;
	border-color: black;
	color: black; /*## Цвет текста эпиграфа*/
	background-color: #EEFAFE; /*## Фоновый цвет эпиграфа*/
}

.main-editor-viewport .el-epigraph p {
	text-indent: 3em;
	margin: 0 1em 0.5em 25%;
}

.main-editor-viewport .el-img,
.main-editor-viewport .el-img-marker {
	resize: none;
}

.main-editor-viewport .el-parent-image {
	text-indent: 0; /* элемент, содержащий в себе первым потомком изображение, не должен иметь отступ  */
}

/* аннотация */
.main-editor-viewport .el-annotation {
	padding: 0 1.4em;
	border-color: black;
	color: black; /* Цвет текста аннотации */
	background-color: #DBD1FF; /* Фоновый цвет аннотации */
}

.main-editor-viewport .el-img:hover,
.main-editor-viewport .el-img-marker:hover {
	cursor: default;
}

.main-editor-viewport .el-img:focus {
	outline: 1px dashed #37BB9B;
	outline-offset: -1px;
}

/* заголовок */
.main-editor-viewport .el-title {
	font-size: 130%;
	border-color: rgb(0,150,0);
	background: rgb(0,150,0);
	color: white;
	padding: 0.3em;
}
.main-editor-viewport .el-title p {
	text-align: center;
	text-indent: 0;
}

/* блок примечаний */
.main-editor-viewport .el-notes {
	font-size: 90%;
}
.main-editor-viewport .el-notebody {
	padding: 0 1.4em;
}

/* таблица */
.main-editor-viewport .el-table {
	width: 100%;
	table-layout: fixed;
	padding: 0;
	border: 1px solid teal;
}
.main-editor-viewport .el-th {
	text-align: center;
	background: rgb(117,255,255);
	text-indent: 0;
	margin-bottom: 0;
	color: purple;
}
.main-editor-viewport .el-td {
	margin-bottom: 0;
	padding: 0.2em;
	text-indent: 0;
	background: rgb(186,213,237);
	color: navy;
	border: 1px solid #2e7ed5;
}
.main-editor-viewport .el-td p {
	text-indent: 0;
}
.main-editor-viewport .el-td.mode-select {
	background-color: orangered;
}

/* список */
.main-editor-viewport .el-ol,
.main-editor-viewport .el-ul {
	padding-left: 1.2em;
}
.main-editor-viewport .el-ol .el-ol,
.main-editor-viewport .el-ul .el-ul,
.main-editor-viewport .el-ol .el-ul,
.main-editor-viewport .el-ul .el-ol {
	padding-left: 1.2em;
}
.main-editor-viewport .el-li {
	position: relative;
}

/* маркер */
.main-editor-viewport .el-marker {
	float: left;
	margin-left: -1em;
	padding: 0 1.2em 0 0;
}

/* элементы следующие за маркером */
.main-editor-viewport .el-marker ~ * {
	padding-left: 1.6em;
	text-indent: 0;
}

/* непечатаемый символ новой строки */
.editor-viewport.mode-unprintsymbols .el-p::after,
.editor-viewport.mode-unprintsymbols .el-li::after,
.editor-viewport.mode-unprintsymbols .el-subtitle::after {
	position: absolute;
	bottom: 0;
	margin-left: -1.4em; /* компенсирует text-indent */
	width: 0;
	content: '¶';
	color: #a51626;
}
.editor-viewport.mode-unprintsymbols .el-title .el-p::after,
.editor-viewport.mode-unprintsymbols .el-li::after,
.editor-viewport.mode-unprintsymbols .el-subtitle::after {
	margin-left: 0.1em;
}

/*
Редактор текста в описании
*/

.form-desc-editor-body .editor-viewport {
	margin: 5px;
	font-size: 13px;
	line-height: 150%;
	white-space: pre-wrap;
}

.form-desc-editor-body .editor-viewport main {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	border: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.form-desc-editor-body .editor-viewport .el-p {
	position: relative;
	margin: 0.2em 0;
}
.form-desc-editor-body .editor-viewport .el-p:focus {
	outline: none;
}

.form-desc-editor-body .editor-viewport.mode-unprintsymbols .el-p::after {
	margin-left: 0.1em;
}