.litres-icon-strong {
    background-image: url('../images/icons/strong.svg');
}
.litres-icon-em {
    background-image: url('../images/icons/em.svg');
}
.litres-icon-underline {
    background-image: url('../images/icons/underline.svg');
}
.litres-icon-strikethrough {
    background-image: url('../images/icons/strikethrough.svg');
}
.litres-icon-spacing {
    background-image: url('../images/icons/spacing.svg');
}
.litres-icon-sub {
     background-image: url('../images/icons/sub.svg');
}
.litres-icon-sup {
    background-image: url('../images/icons/sup.svg');
}
.litres-icon-span {
    background-image: url('../images/icons/span.svg');
}
.litres-icon-smallcaps {
    background-image: url('../images/icons/smallcaps.svg');
}
.litres-icon-img {
    background-image: url('../images/icons/img.svg');
}
.litres-icon-link {
    background-image: url('../images/icons/link.svg');
}
.litres-icon-note {
    background-image: url('../images/icons/note.svg');
}
.litres-icon-eraser {
    background-image: url('../images/icons/eraser.svg');
}
.litres-icon-ul {
    background-image: url('../images/icons/ul.svg');
}
.litres-icon-ol {
    background-image: url('../images/icons/ol.svg');
}
.litres-icon-cut {
    background-image: url('../images/icons/cut.svg');
}
.litres-icon-keyboard {
    background-image: url('../images/icons/keyboard.svg');
}
.litres-icon-paragraph {
    background-image: url('../images/icons/paragraph.svg');
}
.litres-icon-exchange {
    background-image: url('../images/icons/exchange.svg');
}