body {
	height: 100%;
	background-color: #ddd;
}

.app-loading {
	position: absolute;
	margin: -10px 0 0 -90px;
	top: 50%;
	left: 50%;
	z-index: -1;
}

.app-loading-info {
	position: absolute;
	top: 20px;
	left: 30px;
	color: #777777;
	font-family: 'Arial Unicode MS', Arial, sans-serif;
	font-size: 0.9em;
}

.app-loading-info::before, .app-loading-info::after {
	position: absolute;
	bottom: 13px;
	left: -3px;
	color: #2e9577;
	font-size: 2.5em;
	content: 'FI  Editor 3';
	white-space: pre;
	text-shadow: 0 0 8px rgba(27, 109, 89, 0.34);
}

.app-loading-info::before {
	left: 20px;
	color: #f19808;
	content: 'B';
}

/* loader */

@-webkit-keyframes app-loader-rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes app-loader-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes app-loader-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.app-loader {
	position: absolute;
	opacity: .8;
	display: block;
	border-radius: 50%;

	font-size: 29px;
	width: .25em;
	height: .25em;

	box-shadow: 0 -.4em 0 0 rgba(46, 149, 119, 1),
	-.28em -.28em 0 0 rgba(46, 149, 119, .75),
	-.4em 0 0 0 rgba(46, 149, 119, .50),
	-.28em .28em 0 0 rgba(46, 149, 119, .25);

	-webkit-animation: .85s app-loader-rotate steps(8) infinite;
	-moz-animation: .85s app-loader-rotate steps(8) infinite;
	animation: .85s app-loader-rotate steps(8) infinite;
}

/* blinker */

@-webkit-keyframes app-blinker {
	10% {
		transform: scale(1, 1) rotate(80deg);
	}
	20% {
		transform: scale(0, 0) rotate(160deg);
	}
	100% {
		transform: scale(0, 0) rotate(0deg);
	}
}

@keyframes app-blinker {
	10% {
		transform: scale(1, 1) rotate(80deg);
	}
	20% {
		transform: scale(0, 0) rotate(160deg);
	}
	100% {
		transform: scale(0, 0) rotate(0deg);
	}
}

.app-blinker {
	position: absolute;
	width: 180px;
	height: 40px;
	top: -20px;
	left: 25px;
}

.app-blinker:after, .app-blinker:before {
	content: "";
	position: absolute;
	top: -80px;
	left: -70px;
	width: 200px;
	height: 200px;
	background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 30%), linear-gradient(45deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%), linear-gradient(135deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%);
	-webkit-animation: app-blinker 8s linear infinite;
	animation: app-blinker 8s linear infinite;
	transform: scale(0, 0) rotate(0deg);
}

.app-blinker:before {
	top: -10px;
	left: 130px;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}